*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

textarea:focus,
input:focus {
  outline: none;
  border: none; }

*:focus {
  border: none; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  max-width: 100%;
  overflow-x: hidden; }

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: #1C1B20;
  text-rendering: optimizeLegibility; }

.container {
  margin: 4rem;
  display: grid;
  grid-template-rows: [header-start] 100vh [header-end profile-start] minmax(100vh, max-content) [profile-end project-start] min-content [project-end form-start] 100vh [form-end footer-start] 20rem [grid-end]; }
  @media only screen and (max-width: 43.75em) {
    .container {
      margin: 0;
      margin-top: 4rem; } }

.album {
  margin: 4rem;
  display: grid;
  grid-template-rows: minmax(100vh, max-content) 20rem;
  font-weight: 300;
  font-family: "Noto Sans JP", sans-serif; }
  @media only screen and (max-width: 43.75em) {
    .album {
      margin: 0;
      margin-top: 4rem; } }
  .album .footer {
    grid-row: 2 / 3; }
  .album__detail {
    color: #ffffff;
    grid-row: 1 / 2;
    display: grid;
    justify-content: space-around;
    justify-items: center;
    align-content: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, min-content);
    grid-column-gap: 2rem;
    grid-row-gap: 1rem; }
    @media only screen and (max-width: 56.25em) {
      .album__detail {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, min-content); } }
    .album__detail--01 {
      background-color: #ec5b60; }
    .album__detail--02 {
      background-color: #e8d7bd; }
    .album__detail--03 {
      background-color: #fa5b3c; }
    .album__detail--04 {
      background-color: #7d7ba3; }
    .album__detail--05 {
      background-color: black; }
    .album__detail--06 {
      background-color: #48b154; }
    .album__detail--07 {
      background-color: #fa5b3c; }
    .album__detail--08 {
      background-color: #264539; }
    .album__detail--09 {
      background-color: #fa5b3c; }
    .album__detail--10 {
      background-color: #ef918f; }
    .album__detail--11 {
      background-color: #1bc4ce; }
    .album__detail--12 {
      background-color: #f6c1a8; }
    .album__detail--13 {
      background-color: black; }
  .album__heading {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    text-transform: uppercase;
    font-size: 4rem;
    margin-bottom: 2rem; }
    @media only screen and (max-width: 68.75em) {
      .album__heading {
        font-size: 3.5rem; } }
    @media only screen and (max-width: 56.25em) {
      .album__heading {
        grid-row: 3 / 4;
        margin-top: 3rem;
        font-size: 2.5rem; } }
  .album__tracklist {
    grid-column: 1 / 2;
    grid-row: 2 / span 2;
    padding-left: 6rem;
    padding-right: 4rem; }
    @media only screen and (max-width: 56.25em) {
      .album__tracklist {
        grid-row: 4 / 5; } }
  .album__item {
    margin-bottom: 1.5rem; }
  .album__img-box {
    grid-column: 2 / 3;
    grid-row: 2 / 3; }
    @media only screen and (max-width: 56.25em) {
      .album__img-box {
        grid-column: 1 / 2;
        grid-row: 1 / 2; } }
  @media only screen and (max-width: 93.75em) {
    .album__img {
      width: 42rem;
      height: 42rem; } }
  @media only screen and (max-width: 68.75em) {
    .album__img {
      width: 35rem;
      height: 35rem; } }
  @media only screen and (max-width: 31.25em) {
    .album__img {
      width: 100%;
      height: 100%; } }
  .album__img img {
    width: 100%;
    height: 100%; }
  .album__title {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    text-transform: uppercase;
    font-size: 4rem;
    letter-spacing: 3px;
    text-align: center;
    line-height: 1;
    padding-left: 1rem;
    padding-right: 1rem; }
    @media only screen and (max-width: 81.25em) {
      .album__title {
        font-size: 3.5rem; } }
    @media only screen and (max-width: 56.25em) {
      .album__title {
        grid-column: 1 / 2;
        grid-row: 2 / 3; } }
    .album__title--11 {
      font-size: 3.5rem; }
      @media only screen and (max-width: 81.25em) {
        .album__title--11 {
          font-size: 3rem; } }

.h1-fx {
  font-weight: 100;
  animation: h1-fx .7s forwards; }
  .h1-fx:nth-child(6), .h1-fx:nth-child(1) {
    animation-delay: 1.2s; }
  .h1-fx:nth-child(5), .h1-fx:nth-child(2) {
    animation-delay: 1s; }
  .h1-fx:nth-child(4), .h1-fx:nth-child(3) {
    animation-delay: .8s; }
  .h1-fx:nth-child(3), .h1-fx:nth-child(4) {
    animation-delay: .6s; }
  .h1-fx:nth-child(2), .h1-fx:nth-child(5) {
    animation-delay: .4s; }
  .h1-fx:nth-child(1), .h1-fx:nth-child(6) {
    animation-delay: .2s; }

@keyframes h1-fx {
  100% {
    font-weight: 800; } }

.h2-fx {
  opacity: 0;
  transform: translateY(-50%);
  animation: h2-fx 0.5s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards;
  animation-delay: 1s; }

@keyframes h2-fx {
  100% {
    opacity: 1;
    transform: translateY(0); } }

.h3-fx {
  opacity: 0;
  transform: translateX(50%);
  animation: h3-fx 0.5s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards;
  animation-delay: 1.5s; }

@keyframes h3-fx {
  100% {
    opacity: 1;
    transform: translateX(0); } }

.social {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 4rem;
  background-color: #ffffff;
  z-index: 50;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  @media only screen and (max-width: 43.75em) {
    .social {
      opacity: 0;
      pointer-events: none; } }
  .social__link:link, .social__link:visited {
    display: block;
    color: #1C1B20;
    margin-bottom: 1rem; }
    @media only screen and (max-width: 31.25em) {
      .social__link:link, .social__link:visited {
        margin-bottom: .6rem; } }
  .social__icon {
    width: 1.8rem;
    height: 1.8rem;
    transform: translateY(0) scale(1);
    transition: all .2s; }
    @media only screen and (max-width: 31.25em) {
      .social__icon {
        width: 1.4rem;
        height: 1.4rem; } }
  .social__link:hover .social__icon {
    transform: translateY(-2px) scale(1.05);
    color: #f4d9c6; }
  .social__link:active .social__icon {
    transform: translateY(-1px) scale(1);
    color: #e5c7b3; }

.social--active {
  opacity: 1;
  pointer-events: auto; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.h1-fx {
  font-weight: 100;
  animation: header-fx 1.2s forwards; }
  .h1-fx:nth-child(6), .h1-fx:nth-child(7) {
    animation-delay: 1.2s; }
  .h1-fx:nth-child(5), .h1-fx:nth-child(8) {
    animation-delay: 1s; }
  .h1-fx:nth-child(4), .h1-fx:nth-child(9) {
    animation-delay: .8s; }
  .h1-fx:nth-child(3), .h1-fx:nth-child(10) {
    animation-delay: .6s; }
  .h1-fx:nth-child(2), .h1-fx:nth-child(11) {
    animation-delay: .4s; }
  .h1-fx:nth-child(1), .h1-fx:nth-child(12) {
    animation-delay: .2s; }

@keyframes header-fx {
  100% {
    font-weight: 800; } }

.contact {
  background-color: #1C1B20;
  grid-row: form-start / form-end;
  color: #ffffff;
  display: flex;
  justify-content: space-around;
  position: relative; }
  .contact__stamp-box {
    position: absolute;
    bottom: 5%;
    right: 5%; }
  @media only screen and (max-width: 68.75em) {
    .contact {
      flex-direction: column;
      justify-content: center;
      align-items: center; } }

.form {
  flex-basis: 50%;
  flex-shrink: 1;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center; }
  @media only screen and (max-width: 68.75em) {
    .form {
      flex-basis: 65%;
      width: 80%; } }
  .form__item, .form__item:focus {
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
    font-size: 1.6rem;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
    background-color: transparent;
    margin-bottom: 4rem;
    padding-bottom: 1.2rem; }

.submit {
  padding: 1.5rem 3.5rem;
  cursor: pointer;
  background-color: #1C1B20;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid currentColor;
  font-weight: 300;
  border-radius: 3px;
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  text-transform: uppercase;
  align-self: center;
  transition: all .2s; }
  .submit:hover {
    background-color: #ffffff;
    color: #1C1B20;
    border: 1px solid transparent;
    transform: translateY(-2px); }
  .submit:focus {
    transform: translateY(1px); }

.header {
  background-color: #f8f8f8;
  grid-row: header-start / header-end;
  display: grid;
  grid-template-rows: 1fr repeat(3, min-content) 1fr;
  grid-template-columns: 1fr repeat(2, minmax(min-content, 250px)) 1fr;
  grid-row-gap: 2rem;
  justify-content: center;
  line-height: 1.2; }
  @media only screen and (max-width: 43.75em) {
    .header {
      grid-template-rows: repeat(3, min-content);
      grid-template-columns: 1fr;
      align-content: center;
      justify-items: center; } }
  .header__heading {
    grid-row: 3 / 4;
    grid-column: 2 / span 2;
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    width: 60%;
    font-style: italic;
    font-size: 2rem;
    margin-top: 2rem; }
    @media only screen and (max-width: 43.75em) {
      .header__heading {
        font-size: 1.6rem;
        width: 25rem;
        display: inline; } }
  .header__text {
    grid-row: 4 / 5;
    grid-column: 2 / span 2;
    text-align: right;
    margin-right: 10rem;
    margin-left: 2rem; }
    @media only screen and (max-width: 56.25em) {
      .header__text {
        width: 60%; } }
    @media only screen and (max-width: 43.75em) {
      .header__text {
        font-size: 1.4rem;
        margin-left: 9rem;
        width: 50%; } }
    @media only screen and (max-width: 31.25em) {
      .header__text {
        width: 75%; } }

.footer {
  grid-row: footer-start / grid-end;
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  justify-content: space-around;
  text-align: center; }
  .footer__copyright {
    font-size: 1.2rem; }
  .footer__social-link:link, .footer__social-link:visited, .footer__nav-link:link, .footer__nav-link:visited {
    color: #1C1B20; }
  .footer__social-link:hover, .footer__nav-link:hover {
    color: #8db596; }
    .footer__social-link:hover:not(:last-child), .footer__nav-link:hover:not(:last-child) {
      margin-right: 1rem; }
  .footer__social-icon {
    width: 2rem;
    height: 2rem; }
  .footer__nav-list {
    list-style: none; }
  .footer__nav-item {
    display: inline-block; }
    .footer__nav-item:not(:last-child) {
      margin-right: 1rem; }
  .footer__nav-link {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.3rem; }

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  background-color: #ffffff;
  z-index: 100;
  display: flex;
  align-items: center; }
  .navigation__list {
    list-style: none;
    margin-right: 4rem; }
  .navigation__item {
    display: inline-block;
    flex-direction: row;
    position: relative;
    margin-right: 3rem; }
  @media only screen and (max-width: 56.25em) {
    .navigation__link {
      opacity: 0;
      pointer-events: none; } }
  .navigation__link:link, .navigation__link:visited {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 3px;
    color: #1C1B20;
    position: relative;
    z-index: 200; }
  .navigation__link--1::before {
    content: "";
    position: absolute;
    top: .5rem;
    left: -4px;
    z-index: -1;
    background-color: #8db596;
    width: 100%;
    height: 1rem;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275); }
  .navigation__link--2::before {
    content: "";
    position: absolute;
    top: .5rem;
    left: -4px;
    z-index: -1;
    background-color: #f1e189;
    width: 100%;
    height: 1rem;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275); }
  .navigation__link--3::before {
    content: "";
    position: absolute;
    top: .5rem;
    left: -4px;
    z-index: -1;
    background-color: #f4d9c6;
    width: 100%;
    height: 1rem;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275); }
  .navigation__link--1:hover::before, .navigation__link--2:hover::before, .navigation__link--3:hover::before {
    transform: scaleX(1.05); }

.logo-box {
  margin-left: 4rem;
  flex-grow: 1;
  height: 2.5rem; }

.logo {
  display: block;
  height: 100%; }

.navigation-hamburger {
  opacity: 0;
  position: absolute;
  top: 0;
  right: 4rem;
  z-index: 1;
  height: 100vh;
  transform: translateX(300px);
  transform-origin: right;
  background-color: #ffffff;
  padding: 2rem;
  transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275); }
  @media only screen and (max-width: 56.25em) {
    .navigation-hamburger {
      opacity: 1; } }
  .navigation-hamburger__list {
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .navigation-hamburger__item {
    padding-bottom: .8rem; }
  .navigation-hamburger__link {
    opacity: 0;
    pointer-events: none; }
    @media only screen and (max-width: 56.25em) {
      .navigation-hamburger__link {
        opacity: 1;
        pointer-events: auto; } }
    .navigation-hamburger__link:link, .navigation-hamburger__link:visited {
      display: block;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 600;
      letter-spacing: 3px;
      color: #1C1B20;
      position: relative; }
      @media only screen and (max-width: 31.25em) {
        .navigation-hamburger__link:link, .navigation-hamburger__link:visited {
          font-size: 1.2rem; } }
    .navigation-hamburger__link--1::before {
      content: "";
      position: absolute;
      top: .5rem;
      left: -4px;
      z-index: -1;
      background-color: #8db596;
      width: 100%;
      height: 1rem;
      transform: scaleX(0);
      transform-origin: left;
      transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275); }
    .navigation-hamburger__link--2::before {
      content: "";
      position: absolute;
      top: .5rem;
      left: -4px;
      z-index: -1;
      background-color: #f1e189;
      width: 100%;
      height: 1rem;
      transform: scaleX(0);
      transform-origin: left;
      transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275); }
    .navigation-hamburger__link--3::before {
      content: "";
      position: absolute;
      top: .5rem;
      left: -4px;
      z-index: -1;
      background-color: #f4d9c6;
      width: 100%;
      height: 1rem;
      transform: scaleX(0);
      transform-origin: left;
      transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275); }
    .navigation-hamburger__link--1:hover::before, .navigation-hamburger__link--2:hover::before, .navigation-hamburger__link--3:hover::before {
      transform: scaleX(1.05); }

.navigation__button {
  position: absolute;
  right: 1rem;
  top: .6rem;
  width: 2.5rem;
  height: 2.5rem;
  background-color: #1C1B20;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 3px;
  z-index: 999;
  opacity: 0; }
  @media only screen and (max-width: 56.25em) {
    .navigation__button {
      opacity: 1; } }
  .navigation__button span {
    display: block;
    width: 1.6rem;
    height: 2px;
    background-color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .navigation__button span::before, .navigation__button span::after {
      content: "";
      position: absolute;
      width: 1.6rem;
      height: 2px;
      background-color: #ffffff; }
    .navigation__button span::before {
      top: -.5rem;
      left: 0; }
    .navigation__button span::after {
      bottom: -.5rem;
      right: 0; }
  .navigation__button.toggle span {
    background-color: transparent;
    transition: transform 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045); }
    .navigation__button.toggle span::before {
      top: 0;
      transform: rotate(45deg); }
    .navigation__button.toggle span::after {
      top: 0;
      transform: rotate(135deg); }

.active {
  transform: scaleX(1) translateX(0); }

.profile {
  position: relative;
  background-image: linear-gradient(rgba(28, 27, 32, 0.9), rgba(28, 27, 32, 0.8));
  grid-row: profile-start / profile-end; }
  @media only screen and (max-width: 56.25em) {
    .profile {
      padding-top: 5rem;
      padding-bottom: 5rem; } }
  .profile__content {
    width: 100%;
    height: 100%;
    color: #ffffff;
    display: flex;
    justify-content: space-around; }
    @media only screen and (max-width: 68.75em) {
      .profile__content {
        flex-direction: column;
        justify-content: center; } }
  .profile__text-box {
    flex-basis: 50%;
    flex-shrink: 1;
    padding-right: 2.5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center; }
    @media only screen and (max-width: 93.75em) {
      .profile__text-box {
        flex-basis: 60%; } }
    @media only screen and (max-width: 81.25em) {
      .profile__text-box {
        flex-basis: 65%; } }
    @media only screen and (max-width: 68.75em) {
      .profile__text-box {
        padding-right: 5rem;
        padding-left: 5rem; } }
    @media only screen and (max-width: 31.25em) {
      .profile__text-box {
        padding-right: 2.5rem;
        padding-left: 2.5rem; } }
  .profile__item {
    margin-bottom: 2rem; }
    .profile__item--hide {
      display: none; }
    .profile__item--show {
      display: contents; }
  .profile__text {
    margin-bottom: 2rem;
    font-size: 1.3rem;
    line-height: 1.8; }

.btn {
  padding: 1.5rem 1rem;
  cursor: pointer;
  margin-top: 2rem;
  align-self: center;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 3px;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: 200;
  color: rgba(255, 255, 255, 0.2);
  transition: all .2s;
  position: relative; }
  .btn--show {
    animation: btn-color 1.5s infinite; }
  .btn::before, .btn::after {
    opacity: 0;
    content: "";
    height: 5rem;
    width: 5rem;
    position: absolute;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 2px;
    transform-origin: center; }
  .btn::before {
    top: 0;
    left: 50%;
    transform: translateX(-50%) rotate(0); }
  .btn::after {
    bottom: 0;
    right: 50%;
    transform: translateX(50%) rotate(-45deg); }
  .btn:hover {
    padding: 1.5rem -1rem;
    color: #ffffff;
    background-image: none;
    border: none; }
  .btn:hover::before {
    opacity: 1;
    animation: btn-rotate-bf 3s linear infinite; }
  .btn:hover::after {
    opacity: 1;
    animation: btn-rotate-af 3s linear infinite; }

@keyframes btn-color {
  100% {
    color: #ffffff; } }

@keyframes btn-rotate-bf {
  25% {
    transform: translateX(-50%) rotate(90deg); }
  50% {
    transform: translateX(-50%) rotate(180deg); }
  75% {
    transform: translateX(-50%) rotate(270deg); }
  100% {
    transform: translateX(-50%) rotate(360deg); } }

@keyframes btn-rotate-af {
  25% {
    transform: translateX(50%) rotate(45deg); }
  50% {
    transform: translateX(50%) rotate(135deg); }
  75% {
    transform: translateX(50%) rotate(225deg); }
  100% {
    transform: translateX(50%) rotate(315deg); } }

.projects {
  background-color: #f8f8f8; }
  .projects__heading-box {
    height: 100vh; }
    @media only screen and (max-width: 81.25em) {
      .projects__heading-box {
        height: 80vh; } }
    @media only screen and (max-width: 68.75em) {
      .projects__heading-box {
        grid-gap: 8rem; } }
  .projects__heading-img {
    width: 50vw;
    height: auto;
    margin: 0 auto; }
    @media only screen and (max-width: 56.25em) {
      .projects__heading-img {
        width: 75vw; } }
    @media only screen and (max-width: 43.75em) {
      .projects__heading-img {
        width: 90vw; } }
  .projects__img {
    width: 100%;
    height: 100%; }

.project {
  --content-width: calc(100vw - $default-margin*2);
  --gutter: 0;
  --columns: 4;
  --row-size: calc((var(--content-width)-var(--gutter)*(var(--columns)-1))/var(--columns));
  display: grid;
  width: 100%;
  max-width: var(--content-width);
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-template-rows: var(--row-size);
  grid-column-gap: var(--gutter);
  grid-row-gap: var(--gutter); }
  @media only screen and (max-width: 93.75em) {
    .project {
      --columns: 3; } }
  @media only screen and (max-width: 68.75em) {
    .project {
      --columns: 2; } }
  @media only screen and (max-width: 31.25em) {
    .project {
      --columns: 1; } }
  .project__item {
    overflow: hidden;
    position: relative;
    font-weight: 500;
    overflow: hidden;
    z-index: 1;
    line-height: 1.2; }
  .project__bg {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    transform: scaleY(0);
    transform-origin: bottom;
    transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94); }
    .project__bg--01 {
      background-color: #bedfd8; }
    .project__bg--02 {
      background-color: #e8d7bd; }
    .project__bg--03 {
      background-color: #fa5b3c; }
    .project__bg--04 {
      background-color: #7d7ba3; }
    .project__bg--05 {
      background-color: black; }
    .project__bg--06 {
      background-color: #48b154; }
    .project__bg--07 {
      background-color: #fce6a8; }
    .project__bg--08 {
      background-color: #264539; }
    .project__bg--09 {
      background-color: #fa5b3c; }
    .project__bg--10 {
      background-color: #ef918f; }
    .project__bg--11 {
      background-color: #1bc4ce; }
    .project__bg--12 {
      background-color: #f6c1a8; }
    .project__bg--13 {
      background-color: black; }
  .project__item:hover .project__bg {
    transform: scaleY(1); }
  .project__img {
    width: 100%;
    height: 100%;
    transform: scale(1.05); }
  .project__link:link, .project__link:visited {
    text-decoration: none;
    color: #1C1B20; }
  .project__title {
    text-transform: uppercase;
    font-size: 2rem;
    letter-spacing: 2px; }
    .project__title--01 {
      background-color: rgba(190, 223, 216, 0.5); }
    .project__title--02 {
      background-color: rgba(232, 215, 189, 0.5); }
    .project__title--03 {
      background-color: rgba(250, 91, 60, 0.5); }
    .project__title--04 {
      background-color: rgba(125, 123, 163, 0.5); }
    .project__title--05 {
      background-color: rgba(0, 0, 0, 0.2); }
    .project__title--06 {
      background-color: rgba(72, 177, 84, 0.5); }
    .project__title--07 {
      background-color: rgba(252, 230, 168, 0.5); }
    .project__title--08 {
      background-color: rgba(38, 69, 57, 0.5); }
    .project__title--09 {
      background-color: rgba(250, 91, 60, 0.5); }
    .project__title--10 {
      background-color: rgba(239, 145, 143, 0.5); }
    .project__title--11 {
      background-color: rgba(27, 196, 206, 0.5); }
    .project__title--12 {
      background-color: rgba(246, 193, 168, 0.5); }
    .project__title--13 {
      background-color: rgba(0, 0, 0, 0.2); }
  .project__text {
    color: #1C1B20;
    background-color: rgba(232, 215, 189, 0.3);
    font-size: 1.2rem; }
  .project__text-box {
    top: 75%;
    width: 70%;
    position: absolute;
    left: 3.5%;
    z-index: 2;
    transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94); }
    @media only screen and (max-width: 43.75em) {
      .project__text-box {
        top: 60%; } }
  .project--hidden {
    padding-top: .5rem;
    opacity: 0;
    font-size: 1.4rem;
    font-weight: 300;
    color: #ffffff; }
  .project__item:hover .project__text-box {
    transform: translateY(-4rem); }
  .project__item:hover .project--hidden {
    opacity: 1; }
  .project__item:hover .project__title,
  .project__item:hover .project__text {
    background-color: transparent; }
  .project__item:hover .project__title--01,
  .project__item:hover .project__text--01 {
    color: #EC5B60; }
  .project__item:hover .project__title--02,
  .project__item:hover .project__text--02 {
    color: #034E7B; }
  .project__item:hover .project__title--03,
  .project__item:hover .project__text--03 {
    color: #E8D7BD; }
  .project__item:hover .project__title--04,
  .project__item:hover .project__text--04 {
    color: #EFECE9; }
  .project__item:hover .project__title--05,
  .project__item:hover .project__text--05 {
    color: #ffffff; }
  .project__item:hover .project__title--06,
  .project__item:hover .project__text--06 {
    color: #EF918F; }
  .project__item:hover .project__title--07,
  .project__item:hover .project__text--07 {
    color: #FA5B3C; }
  .project__item:hover .project__title--08,
  .project__item:hover .project__text--08 {
    color: #FCE6A8; }
  .project__item:hover .project__title--09,
  .project__item:hover .project__text--09 {
    color: #000; }
  .project__item:hover .project__title--10,
  .project__item:hover .project__text--10 {
    color: #ffffff; }
  .project__item:hover .project__title--11,
  .project__item:hover .project__text--11 {
    color: #ffffff; }
  .project__item:hover .project__title--12,
  .project__item:hover .project__text--12 {
    color: #ffffff; }
  .project__item:hover .project__title--13,
  .project__item:hover .project__text--13 {
    color: #FCE6A8; }

.split-img {
  --gutter: 1rem;
  top: 8%;
  position: relative; }
  .split-img__item {
    position: absolute;
    width: 50vw;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    opacity: 1; }
    @media only screen and (max-width: 56.25em) {
      .split-img__item {
        width: 75vw; } }
    @media only screen and (max-width: 43.75em) {
      .split-img__item {
        width: 90vw; } }
    .split-img__item--1 {
      filter: hue-rotate(180deg);
      clip-path: polygon(0 0, 50% 0, 50% 50%, 0 50%);
      -webkit-clip-path: polygon(0 0, 50% 0, 50% 50%, 0 50%);
      transform: translate(calc(-50% - var(--gutter)), calc(-50% - var(--gutter))); }
    .split-img__item--2 {
      filter: grayscale(100%);
      clip-path: polygon(50% 0, 100% 0, 100% 50%, 50% 50%);
      -webkit-clip-path: polygon(50% 0, 100% 0, 100% 50%, 50% 50%);
      transform: translate(calc(-50% + var(--gutter)), calc(-50% - var(--gutter))); }
    .split-img__item--3 {
      filter: contrast(180%);
      clip-path: polygon(0 50%, 50% 50%, 50% 100%, 0 100%);
      -webkit-clip-path: polygon(0 50%, 50% 50%, 50% 100%, 0 100%);
      transform: translate(calc(-50% - var(--gutter)), calc(-50% + var(--gutter))); }
    .split-img__item--4 {
      filter: sepia(100%);
      clip-path: polygon(50% 50%, 100% 50%, 100% 100%, 50% 100%);
      -webkit-clip-path: polygon(50% 50%, 100% 50%, 100% 100%, 50% 100%);
      transform: translate(calc(-50% + var(--gutter)), calc(-50% + var(--gutter))); }
    .split-img__item--default {
      opacity: 0;
      transition: all 0.2s cubic-bezier(0.19, 1, 0.22, 1);
      transform: translateY(6rem); }
  .split-img__child {
    width: 100%;
    height: 100%; }
  .split-img:hover > *:not(:last-child) {
    transform: translate(-50%, -50%);
    opacity: 0; }
  .split-img:hover > *:last-child {
    opacity: 1; }
  .split-img__text, .split-img__name {
    --position: 5%;
    position: absolute;
    z-index: 100; }
  .split-img__name {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 200;
    font-size: 6rem; }
    @media only screen and (max-width: 68.75em) {
      .split-img__name {
        font-size: 5rem; } }
    @media only screen and (max-width: 43.75em) {
      .split-img__name {
        font-size: 3rem; } }
    .split-img__name--1 {
      top: var(--position);
      left: var(--position); }
    .split-img__name--2, .split-img__name--4 {
      color: #ffffff; }
    .split-img__name--2 {
      top: var(--position);
      right: var(--position); }
    .split-img__name--3 {
      bottom: var(--position);
      left: var(--position); }
    .split-img__name--4 {
      bottom: var(--position);
      right: var(--position); }
  .split-img__text {
    --positionX: 5%;
    --positionY: 26.5%;
    font-size: 1.2rem;
    width: 10rem; }
    @media only screen and (max-width: 68.75em) {
      .split-img__text {
        --positionY: 30%; } }
    .split-img__text--1 {
      top: var(--positionY);
      left: var(--positionX);
      text-align: left; }
    .split-img__text--2 {
      top: var(--positionY);
      right: var(--positionX);
      text-align: right; }
    .split-img__text--3 {
      bottom: var(--positionY);
      left: var(--positionX);
      text-align: left; }
    .split-img__text--4 {
      bottom: var(--positionY);
      right: var(--positionX);
      text-align: right; }
    .split-img__text--2, .split-img__text--4 {
      color: #ffffff; }

.heading--1 {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 10rem;
  line-height: .8;
  grid-column: 2 / span 2;
  grid-row: 2 / 3; }
  @media only screen and (max-width: 56.25em) {
    .heading--1 {
      font-size: 8rem; } }
  @media only screen and (max-width: 43.75em) {
    .heading--1 {
      font-size: 6rem; } }

.heading--3 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 4rem;
  margin-bottom: 2rem; }
  @media only screen and (max-width: 68.75em) {
    .heading--3 {
      font-size: 2.5rem; } }
  @media only screen and (max-width: 43.75em) {
    .heading--3 {
      font-size: 2rem; } }

.padding--large {
  padding-top: 15rem;
  padding-bottom: 15rem; }
  @media only screen and (max-width: 68.75em) {
    .padding--large {
      padding-top: 10rem;
      padding-bottom: 10rem; } }

.heading-box {
  display: flex;
  flex-direction: column;
  align-items: center; }

.heading-line {
  width: 1px;
  flex-grow: 1;
  background-color: rgba(255, 255, 255, 0.6); }
  .heading-line--black {
    background-color: #1C1B20; }
  @media only screen and (max-width: 68.75em) {
    .heading-line {
      opacity: 0; } }

.heading-text {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 7rem;
  font-weight: 300;
  text-transform: uppercase; }
  @media only screen and (max-width: 93.75em) {
    .heading-text {
      font-size: 6rem; } }
  @media only screen and (max-width: 81.25em) {
    .heading-text {
      font-size: 5rem; } }
  @media only screen and (max-width: 43.75em) {
    .heading-text {
      font-size: 3.5rem; } }
